################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/YStarChange/v16
/src/YStarCharge/.vs/YStarCharge/v16
/.vs
/src/YStarCharge/YStarCharge/obj/Debug
/src/YStarCharge/YStarCharge/bin/Debug
/src/YStarCharge/YStarCharge/obj/Release
